In [1]:
import requests as re
from pyquery import PyQuery as pq

In [2]:
date=input("輸入日期 Ex:0310\n")
url='https://www.twse.com.tw/fund/TWT38U?response=html&date=2020{}'.format(date)
res=re.get(url)
doc=pq(res.text)

輸入日期 Ex:0310
0608

In [3]:
list=[]
for i in range(31):
    for eachdoc in doc('body > div > table > tbody > tr:nth-child({})'.format(i)).items():
        dict={}
        dict["代號"]=eachdoc('td:nth-child(2)').text()
        dict["名稱"]=eachdoc('td:nth-child(3)').text()
        net=eachdoc('td:nth-child(6)').text()
        net=net.replace(',','')
        net=float(net)/1000
        net=str(round(net))
        dict["淨買賣"]=net+'張'
        list.append(dict)
print(list)

[{'代號': '00632R', '名稱': '元大台灣50反1', '淨買賣': '78467張'}, {'代號': '2888', '名稱': '新光金', '淨買賣': '17404張'}, {'代號': '2409', '名稱': '友達', '淨買賣': '15687張'}, {'代號': '1605', '名稱': '華新', '淨買賣': '11837張'}, {'代號': '2330', '名稱': '台積電', '淨買賣': '11671張'}, {'代號': '2891', '名稱': '中信金', '淨買賣': '10296張'}, {'代號': '00637L', '名稱': '元大滬深300正2', '淨買賣': '9974張'}, {'代號': '2883', '名稱': '開發金', '淨買賣': '6982張'}, {'代號': '2002', '名稱': '中鋼', '淨買賣': '6723張'}, {'代號': '2887', '名稱': '台新金', '淨買賣': '6662張'}, {'代號': '00677U', '名稱': '富邦VIX', '淨買賣': '6485張'}, {'代號': '5880', '名稱': '合庫金', '淨買賣': '6396張'}, {'代號': '2881', '名稱': '富邦金', '淨買賣': '6358張'}, {'代號': '2882', '名稱': '國泰金', '淨買賣': '6345張'}, {'代號': '01003T', '名稱': '兆豐新光R1', '淨買賣': '6070張'}, {'代號': '2324', '名稱': '仁寶', '淨買賣': '5253張'}, {'代號': '3231', '名稱': '緯創', '淨買賣': '4934張'}, {'代號': '1303', '名稱': '南亞', '淨買賣': '4738張'}, {'代號': '0050', '名稱': '元大台灣50', '淨買賣': '4238張'}, {'代號': '9904', '名稱': '寶成', '淨買賣': '3813張'}, {'代號': '1402', '名稱': '遠東新', '淨買賣': '3741張'}, {'代號': '2317', '名稱': '鴻海', '淨買賣': '3589張'}, {'代號': '2892', '名稱': '第一金', '淨買賣': '3504張'}, {'代號': '2308', '名稱': '台達電', '淨買賣': '3307張'}, {'代號': '2809', '名稱': '京城銀', '淨買賣': '3220張'}, {'代號': '2886', '名稱': '兆豐金', '淨買賣': '3192張'}, {'代號': '2610', '名稱': '華航', '淨買賣': '3046張'}, {'代號': '2633', '名稱': '台灣高鐵', '淨買賣': '3007張'}, {'代號': '2344', '名稱': '華邦電', '淨買賣': '2952張'}, {'代號': '2356', '名稱': '英業達', '淨買賣': '2808張'}]

In [4]:
str1=''
for i in list:
    for key,value in i.items():
        str1=str1+key+':'+str(value)+'\n'
    str1=str1+'\n'
print(str1)

代號:00632R
名稱:元大台灣50反1
淨買賣:78467張

代號:2888
名稱:新光金
淨買賣:17404張

代號:2409
名稱:友達
淨買賣:15687張

代號:1605
名稱:華新
淨買賣:11837張

代號:2330
名稱:台積電
淨買賣:11671張

代號:2891
名稱:中信金
淨買賣:10296張

代號:00637L
名稱:元大滬深300正2
淨買賣:9974張

代號:2883
名稱:開發金
淨買賣:6982張

代號:2002
名稱:中鋼
淨買賣:6723張

代號:2887
名稱:台新金
淨買賣:6662張

代號:00677U
名稱:富邦VIX
淨買賣:6485張

代號:5880
名稱:合庫金
淨買賣:6396張

代號:2881
名稱:富邦金
淨買賣:6358張

代號:2882
名稱:國泰金
淨買賣:6345張

代號:01003T
名稱:兆豐新光R1
淨買賣:6070張

代號:2324
名稱:仁寶
淨買賣:5253張

代號:3231
名稱:緯創
淨買賣:4934張

代號:1303
名稱:南亞
淨買賣:4738張

代號:0050
名稱:元大台灣50
淨買賣:4238張

代號:9904
名稱:寶成
淨買賣:3813張

代號:1402
名稱:遠東新
淨買賣:3741張

代號:2317
名稱:鴻海
淨買賣:3589張

代號:2892
名稱:第一金
淨買賣:3504張

代號:2308
名稱:台達電
淨買賣:3307張

代號:2809
名稱:京城銀
淨買賣:3220張

代號:2886
名稱:兆豐金
淨買賣:3192張

代號:2610
名稱:華航
淨買賣:3046張

代號:2633
名稱:台灣高鐵
淨買賣:3007張

代號:2344
名稱:華邦電
淨買賣:2952張

代號:2356
名稱:英業達
淨買賣:2808張

In [5]:
import pandas as pd
for i in range(30):
    dict=list[i]
    select = pd.Series(dict, index = dict.keys()) # 排序與原 dict 相同  
    print(select)

代號       00632R
名稱     元大台灣50反1
淨買賣      78467張
dtype: object
代號       2888
名稱        新光金
淨買賣    17404張
dtype: object
代號       2409
名稱         友達
淨買賣    15687張
dtype: object
代號       1605
名稱         華新
淨買賣    11837張
dtype: object
代號       2330
名稱        台積電
淨買賣    11671張
dtype: object
代號       2891
名稱        中信金
淨買賣    10296張
dtype: object
代號        00637L
名稱     元大滬深300正2
淨買賣        9974張
dtype: object
代號      2883
名稱       開發金
淨買賣    6982張
dtype: object
代號      2002
名稱        中鋼
淨買賣    6723張
dtype: object
代號      2887
名稱       台新金
淨買賣    6662張
dtype: object
代號     00677U
名稱      富邦VIX
淨買賣     6485張
dtype: object
代號      5880
名稱       合庫金
淨買賣    6396張
dtype: object
代號      2881
名稱       富邦金
淨買賣    6358張
dtype: object
代號      2882
名稱       國泰金
淨買賣    6345張
dtype: object
代號     01003T
名稱     兆豐新光R1
淨買賣     6070張
dtype: object
代號      2324
名稱        仁寶
淨買賣    5253張
dtype: object
代號      3231
名稱        緯創
淨買賣    4934張
dtype: object
代號      1303
名稱        南亞
淨買賣    4738張
dtype: object
代號       0050
名稱     元大台灣50
淨買賣     4238張
dtype: object
代號      9904
名稱        寶成
淨買賣    3813張
dtype: object
代號      1402
名稱       遠東新
淨買賣    3741張
dtype: object
代號      2317
名稱        鴻海
淨買賣    3589張
dtype: object
代號      2892
名稱       第一金
淨買賣    3504張
dtype: object
代號      2308
名稱       台達電
淨買賣    3307張
dtype: object
代號      2809
名稱       京城銀
淨買賣    3220張
dtype: object
代號      2886
名稱       兆豐金
淨買賣    3192張
dtype: object
代號      2610
名稱        華航
淨買賣    3046張
dtype: object
代號      2633
名稱      台灣高鐵
淨買賣    3007張
dtype: object
代號      2344
名稱       華邦電
淨買賣    2952張
dtype: object
代號      2356
名稱       英業達
淨買賣    2808張
dtype: object